@keyframes moveInLeft {
  0% {
    opacity: 0%;
    transform: translateX(-50px); }
  70% {
    opacity: 1;
    transform: translateX(3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0%;
    transform: translateX(50px); }
  70% {
    opacity: 1;
    transform: translateX(-3px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0%;
    transform: translateY(20px); }
  70% {
    opacity: 1;
    transform: translateY(-1px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 3rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
  color: black; }

.heading-text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #bbbaba; }
  .heading-text-box__heading-primary {
    margin-bottom: 60px; }
    @media only screen and (max-width: 37.5em) {
      .heading-text-box__heading-primary {
        letter-spacing: 0.3rem;
        font-family: 5rem;
        font-size: 1rem; } }
  .heading-text-box__heading-sub {
    display: block;
    font-size: 2rem;
    animation: moveInRight 2s; }
    @media only screen and (max-width: 37.5em) {
      .heading-text-box__heading-sub {
        letter-spacing: 0.5rem;
        font-size: 1rem; } }

.rd {
  font-size: 1.3rem;
  font-weight: 200; }
  @media only screen and (max-width: 37.5em) {
    .rd {
      font-size: 1rem; } }

.copyrights {
  font-size: 1.6rem;
  font-weight: 400;
  color: #e99e60; }
  @media only screen and (max-width: 37.5em) {
    .copyrights {
      font-size: 1rem; } }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 60px; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 3rem !important; } }

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.699)), url(../../img/background.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%); }
  .header__logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .header__logo-image {
      display: inline-block;
      animation: moveInLeft 2s;
      height: 20rem; }
      @media only screen and (max-width: 37.5em) {
        .header__logo-image {
          height: 10rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 0; } }

.row {
  max-width: 1140px;
  height: 30px;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 20px; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 15px; }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 15px) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 15px) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 15px) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 15px) / 3) + 15px); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 15px) / 4) + 15px); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 15px) / 4) + 2 *15px); }

.btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 10px;
  color: green;
  border-radius: 1000px; }

.btn:hover {
  transform: translateY(0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.205); }

.btn:active {
  transform: translateY(1px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.103); }

.btn-white {
  background-color: #fff;
  font-size: 0.7em;
  margin-top: -50px; }

.btn-animated {
  animation: moveInBottom 2s ease-out; }

.composition {
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .composition {
      visibility: hidden;
      opacity: 0; } }
  .composition__photo {
    transition: all 0.4s;
    position: absolute;
    width: 50%; }
    .composition__photo-1 {
      top: -1rem;
      left: 4rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo-1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo-2 {
      top: 1rem;
      right: 1.5rem; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo-2 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo:hover {
      transform: scale(1.1);
      z-index: 10000;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%;
        box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); } }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 10000000;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */ }

/* Modal Content/Box */
.modal-content {
  background-color: #f1ebeb;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 2rem;
  border: 1px solid #888;
  width: 30%;
  /* Could be more or less, depending on screen size */
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .modal-content {
      width: 45%;
      text-align: center; } }
  .modal-content h3 {
    color: #e99e60;
    font-size: 1.9rem; }
    @media only screen and (max-width: 37.5em) {
      .modal-content h3 {
        font-size: 1.2rem; } }
  .modal-content p {
    color: #5e7a5e;
    font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .modal-content p {
        font-size: 1rem; } }

@media only screen and (max-width: 56.25em) {
  .form {
    width: 100%; } }

.form-input {
  padding: 1.5rem;
  font-family: inherit; }
  .form-input:focus {
    outline: none; }
  @media only screen and (max-width: 37.5em) {
    .form-input {
      padding: 0.5rem;
      font-size: 1rem; } }

.form-checkboxes {
  font-family: inherit;
  font-size: 1.3rem; }
  .form-checkboxes input {
    margin-right: 0.5rem; }
  .form-checkboxes-label {
    padding: 0.5rem;
    color: #5e7a5e; }
    @media only screen and (max-width: 37.5em) {
      .form-checkboxes-label {
        font-size: 1rem;
        display: inline-block; } }
  @media only screen and (max-width: 37.5em) {
    .form-checkboxes {
      padding: 0.5rem;
      font-size: 0.4rem; } }

.form-text {
  padding: 1rem;
  width: 100%;
  height: 15rem;
  font-family: inherit; }
  .form-text:focus {
    outline: none; }
  @media only screen and (max-width: 37.5em) {
    .form-text {
      padding: 0.5rem;
      font-size: 1rem; } }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form-submit {
  padding: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .form-submit {
      padding: 0.5rem;
      font-size: 1rem; } }

.complaint__card {
  border: 1px solid white;
  box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.6);
  padding: 1rem;
  width: 35rem;
  height: 50rem;
  position: relative;
  border-radius: 3px; }
  .complaint__card h4 {
    z-index: 2000; }

.complaint-image {
  position: absolute;
  left: 0;
  top: 6rem;
  height: 25rem;
  width: 100%;
  padding: 0 0 2rem 0;
  border-bottom: 0.3rem solid #ffaf65;
  display: block; }

.complaint-text {
  position: absolute;
  left: 0;
  top: 32rem;
  padding-left: 2rem; }

.complaint-conditions {
  position: absolute;
  left: 0;
  bottom: 2rem; }
  .complaint-conditions-list {
    list-style: none;
    float: right;
    padding-left: 2rem; }
    .complaint-conditions-list li {
      text-transform: uppercase;
      font-weight: 700;
      display: inline; }
      .complaint-conditions-list li:not(:last-child) {
        margin-right: 2rem; }

.section-about {
  position: relative;
  padding: 15rem 0 50rem;
  background-color: #f1ebeb;
  margin-top: -15vh; }
  .section-about__border {
    padding: 1rem 15% 4rem 15%; }
    @media only screen and (max-width: 37.5em) {
      .section-about__border {
        padding: 0.3rem 5% 1rem 5%; } }
  .section-about__container {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 10px; }
  .section-about__heading-primary {
    color: #eca17e; }
    @media only screen and (max-width: 37.5em) {
      .section-about__heading-primary {
        font-size: 1.9rem; } }
  .section-about__text-content {
    color: #5e7a5e;
    margin-bottom: 20px; }
    @media only screen and (max-width: 37.5em) {
      .section-about__text-content {
        font-size: 1rem; } }

.footer {
  padding: 9rem 15% 4rem 15%;
  margin-top: -10px;
  background-color: #f1ebeb; }
  .footer__container {
    border-top: 1px solid black;
    text-align: center;
    padding-top: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__container {
        padding-top: 1rem;
        font-size: 1rem;
        padding-right: 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      padding: 17rem 5% 1rem 5%; } }
