/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(241, 235, 235);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 2rem;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  text-align: center;

  @include respond(phone) {
    width: 45%;
    text-align: center;
  }

  & h3 {
    color: rgb(233, 158, 96);
    font-size: 1.9rem;

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
  & p {
    color: rgb(94, 122, 94);
    font-size: 1.5rem;

    @include respond(phone) {
      font-size: 1rem;
    }
  }
}
