.composition {
  position: relative;
  &__photo {
    position: absolute;
    width: 50%;
    &-1 {
      top: -10px;
      left: 40px;
    }
    &-2 {
      top: 10px;
      right: 15px;
    }
  }
}
