/*primary-color - #ff9966 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 10% 40% auto 27%;
  grid-template-rows: 50% 30% auto 7%;
  grid-template-areas:
    "header header header header"
    "side-content side-content main-content main-content"
    "side-content side-content main-content main-content"
    "footer footer footer footer";
}
.header {
  grid-area: header;
  background-color: beige;
}
.main-content {
  grid-area: main-content;
  position: relative;
  background-color: #eee;
}
.footer {
  color: #eee;
  grid-area: footer;
  background-color: #ff9966;
  text-align: center;
  padding: 10px;
}
.side-content {
  color: #ff9966;
  grid-area: side-content;
  background-color: #eee;
  padding: 0 0 10px 40px;
}
form {
  color: #ff9966;
  width: 70%;
  padding: 10px;
}
.form-group {
  position: relative;
  margin-bottom: 30px;
  padding: 16px;
  border-bottom: 1px solid black;
  width: 100%;
}
.form-group input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}
.form-group label {
  position: absolute;
  color: grey;
  pointer-events: none;
  bottom: 10px;
  left: 0;
  transition: all 0.5s ease;
}
.form-group .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  left: -0.5px;
  width: 100%;
}
.form-group .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #ff9966;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.form-group input:focus ~ .underline:before,
.form-group input:valid ~ .underline:before {
  transform: scaleX(1) scaleY(2);
}
.form-group input:focus ~ label,
.form-group input:valid ~ label {
  transform: translateY(-20px);
}

.button {
  margin-bottom: 10px;
  font-size: 19px;
  border-radius: 8px;
  outline: none;
  background: none;
  padding: 5px 3px;
  border: none;
  transition: all 0.3s ease;
  color: #ff9966;
}
.button:hover,
.button:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 2px grey;
}
.header {
  background-image: radial-gradient(
      farthest-corner at 40px 40px,
      rgba(255, 189, 6, 0.137) 0%,
      rgba(48, 47, 47, 0.418) 100%
    ),
    url("img/rubber-plant.jpg");

  background-size: cover;
}
.list li {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.list li.show {
  opacity: 1;
}

.logo {
  height: 250px;
  position: absolute;
  right: 35%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.link {
  text-decoration: none;
  font-size: 1.2em;
}
.list {
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.show {
  padding: 10px;
  font-size: 1.4em;
}
.personal-info {
  grid-area: side-content;
  background-color: #eee;
  padding: 30px;
  font-size: 1.5em;
}
.items-info {
  grid-area: main-content;
  background-color: rgba(16, 0, 233, 0.699);
  position: relative;
}
.form-container {
  position: relative;
  height: 100vh;
  background-image: radial-gradient(
      rgba(158, 114, 73, 0.11),
      rgba(11, 15, 26, 0.692)
    ),
    url(img/background-2.jpg);
  background-size: cover;
}
.main-form {
  background-color: rgba(248, 244, 240, 0);
  position: absolute;
  height: 600px;
  width: 400px;
  top: 40px;
  left: 35%;
  transform: translate(-50% -50%);
  box-shadow: 1px 1px 3px black;
  border-radius: 3px;
}
.form-container div {
  padding: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid grey;
}
.page-title {
  color: #ff9966;
}

.input {
  border-radius: 3px;
  padding: 10px;
  width: 92%;
  border: none;
  outline: none;
  font-size: 1.1em;
  color: rgba(11, 15, 26, 0.692);
  font-size: 15px;
}
textarea {
  resize: none;
  width: 350px;
  height: 80px;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  color: rgba(11, 15, 26, 0.692);
}
.checkbox {
  padding-right: 10px;
}
.spinner_container {
  position: relative;
  height: 100vh;
}
.spinner_image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
}
@media only screen and (max-width: 768px) {
  .grid-container {
    grid-template-areas:
      "header header header header"
      "main-content main-content main-content main-content"
      "side-content side-content side-content side-content"
      "footer footer footer footer";
  }
  .main-content {
    border-bottom: 3px solid #ff9966;
  }
  .header {
    height: 100vh;
  }
  .form-container {
    height: 100vh;
    position: relative;
    width: 100%;
    background-image: radial-gradient(
        rgba(158, 114, 73, 0.11),
        rgba(11, 15, 26, 0.692)
      ),
      url(img/background-2.jpg);
    background-size: cover;
  }
  .main-form {
    background-color: rgba(248, 244, 240, 0);
    position: absolute;
    left: 10%;
    height: 80%;
    width: 80%;
    box-shadow: 1px 1px 3px black;
    border-radius: 3px;
  }
  .form-container div {
    padding: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid grey;
  }
  .page-title {
    color: #ff9966;
    font-size: 1.8em;
  }
  textarea {
    resize: none;
    width: 200px;
    height: 80px;
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
    color: rgba(11, 15, 26, 0.692);
    display: block;
  }
}
