/*primary-color - #ff9966 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}
.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 10% 40% auto 27%;
  grid-template-rows: 50% 30% auto 7%;
  grid-template-areas:
    "header header header header"
    "side-content side-content main-content main-content"
    "side-content side-content main-content main-content"
    "footer footer footer footer";
}
.header {
  grid-area: header;
  background-color: beige;
}
.main-content {
  grid-area: main-content;
  position: relative;
  background-color: #eee;
}
.footer {
  color: #eee;
  grid-area: footer;
  background-color: #ff9966;
  text-align: center;
  padding: 10px;
}
.side-content {
  color: #ff9966;
  grid-area: side-content;
  background-color: #eee;
  padding: 0 0 10px 40px;
}
form {
  color: #ff9966;
  width: 70%;
  padding: 10px;
}
.form-group {
  position: relative;
  margin-bottom: 30px;
  padding: 16px;
}
.form-group input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
}
.form-group label {
  position: absolute;
  color: grey;
  pointer-events: none;
  bottom: 10px;
  left: 0;
  transition: all 0.5s ease;
}
.form-group .underline {
  position: absolute;
  bottom: 0px;
  height: 2px;
  width: 100%;
}
.form-group .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #ff9966;
  transform: scaleX(0);
  transition: all 0.3s ease;
}
.form-group input:focus ~ .underline:before,
.form-group input:valid ~ .underline:before {
  transform: scaleX(1);
}
.form-group input:focus ~ label,
.form-group input:valid ~ label {
  transform: translateY(-20px);
}

.button {
  margin-bottom: 10px;
  font-size: 19px;
  border-radius: 8px;
  outline: none;
  background: none;
  padding: 5px 3px;
  border: none;
  transition: all 0.3s ease;
  color: #ff9966;
}
.button:hover,
.button:active {
  transform: translateY(-2px);
  box-shadow: 0 2px 2px grey;
}
.header {
  background-image: radial-gradient(
      farthest-corner at 40px 40px,
      rgba(255, 189, 6, 0.137) 0%,
      rgba(92, 92, 92, 0) 100%
    ),
    url("img/rubber-plant.jpg");

  background-size: cover;
}
.list li {
  transition: all 0.4s ease-out;
  opacity: 0;
}
.list li.show {
  opacity: 1;
}

.logo {
  height: 250px;
  position: absolute;
  right: 35%;
  top: 30%;
  transform: translate(-50%, -50%);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.show {
  padding: 10px;
  font-size: 1.4em;
}
